body {
    background-image: url(./images/background.jpg);
}

.adjust4 {
    border-bottom: 2px solid darkgrey;
    background-color: white;
}

.text {
    background-color: skyblue;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.text2 {
    padding-top: 30px;
    padding-right: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.nav-item1 {
    border-right: 1px solid grey;
    padding-right: 20px;
}

.nav-item2 {
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item {
    padding-left: 20px;
}

.container2 {
    padding-right: 0px;
    padding-left: 0px;
}

.container3 {
    background-color: white;
    margin-top: 30px;
}

h1 {
    color: skyblue;
    padding-top: 25px;
}

hr {
    border-top: 2px solid darkgrey;
}

.adjust2 {
    padding-bottom: 25px;
}

.adjust3 {
    width: 200px;
    height: 350px;
}

.adjust {
    padding-bottom: 150px;
}

.card-deck {
    margin-bottom: 10px;
}

.card-text {
    margin: 0px 0px 10px 0px;
}

.container5 {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 25px;
    border-top: 8px solid skyblue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 640px) {
    .adjust6 {
        padding-top: 0px !important;
        padding-left: 0px !important;
    }

    .text2 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
    }

    .adjust2 {
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 640px) {
    .text2 {
        margin-top: 15px !important;
        justify-content: right !important;
    }
}

@media screen and (max-width: 574px) {
    .adjust6 {
        justify-content: center !important;
    }
}

@media screen and (min-width: 768px) {
    p {
        margin-left: 20px;
    }
}
